body {
  width: 90%;
  margin: 0 auto;
}
.awesome{
  background-color: #FD644D;
  text-align: center;
  width: 100%;
  color: white;
}
.headerTitle {
  color: #FD644d;
  font-weight: bolder;
  font-style: italic;
}
.navbar-brand {
  font-size: 12px;
}
.searchOptionsArea {
  background: white;
}
.checkoutButton {
  float: right;
  background: #E26D5F;
  color: white;
  margin-top: 0; 
}
