<nav class="navbar-default cartNavBar">
  <h3 class="myShoppingBag">My Shopping Bag</h3>
  <h4 class="orderTotal"> Order total: {{total()}}</h4>
</nav>
<table>
  <thead>
     <tr>
       <th>Product</th>
       <th>Quantity</th>
       <th>Sub-total</th>
       <th></th>
     </tr>
   </thead>
  <tr ng-repeat="item in cart">
    <td class="media-left">
      <h3>{{item.name}}</h3>
      <img class="itemImage" src="{{item.imageUrl}}" alt="item picture">
      <p>
        <strong>Caffeine Scale:</strong> {{item.caffeineScale}}
      </p>
      <p>
        <strong>Ingredients:</strong> {{item.ingredients}}
      </p>
      <p>
        <strong>Rating:</strong> {{item.rating}}
        {{update()}}
      </p>
    </td>
    <td>
      <span type="number" ng-hide="hideQty">{{item.quantity}}</span>
      <span ng-show="showEdit">
        <input type="number" ng:model="item.quantity" ng:required class="showEditQuantityBox">
      </span>
    </td>
    <td>
      {{item.total | currency}}
    </td>
    <td>
      <p type="button" class="btn btn-default navbar-btn editButton" ng-click="toggleEdit()">Edit</p>
      <!-- <select ng-show="toggleEdit"></select> -->
      <p type="button" class="btn btn-default navbar-btn removeButton" ng-click="remove($index)">Remove</p>
    </td>
</tr>
</table>
