<nav class="navbar-default searchOptionsArea">
  Search by Category:
  <select ng-model="category">
    <option value="">all</option>
    <option value="dark">dark</option>
    <option value="cold">cold</option>
    <option value="awesome">awesome</option>
    <option value="dry">dry</option>
    <option value="hot">hot</option>
    <option value="summer">summer</option>
    <option value="lucid">lucid</option>
    <option value="warm">warm</option>
    <option value="winter">winter</option>
    <option value="spring">spring</option>
  </select>

  Search by Name:
  <input type="text" ng-model="searchByName">
  <a href="#/cart" type="button" class="btn btn-default navbar-btn checkoutButton">Checkout | Bag: <ng-pluralize count='cart.length' when="{'0': 'Empty', '1': '1 Item', 'other': '{{cart.length}} Items'}"> </ng-pluralize>!
  </a>

</nav>

<table>
  <thead>
     <tr>
       <th>Tea</th>
       <th>Information
         <span class="sortByPrice">Sort By Price
         <select ng-model = 'sortBy'>
           <option value = '-price'>high to low</option>
           <option value= '+price'>low to high</option>
         </select>
       </span>
       </th>
     </tr>
   </thead>
  <tr ng-repeat="tea in teas | orderBy:sortBy | filter: searchByName | filter: category">
    <td class="media-left">
      <img class="teaImage" src="{{tea.imageUrl}}" alt="tea picture">
    </td>
    <td>
      <h3> {{tea.name}}
        <span class="pull-right">
          Quantity:
          <select ng-model="quantity">
            <option ng-repeat="qty in [1,2,3,4,5,6,7,8,9,10]">{{qty}}</option>
          </select>
          <button type="button" name="button" class="btn btn-warning" ng-click="add(quantity)">Add To Bag</button>
        </span>
      </h3>
      <p>
        <strong>Price:</strong> {{tea.price/100 | currency }}
      </p>
      <p>
        <strong>Ingredients:</strong> {{tea.ingredients}}
      </p>
      <p>
        <strong>Caffine Scale:</strong> {{tea.caffeineScale}}
      </p>
      <p>
        <strong>Rating:</strong> {{tea.rating}}
      </p>
      <p>
        <strong>In Stock?:</strong> {{tea.inStock}}
      </p>
      <p>
        <strong>Categories:</strong>
        <ul>
          <li ng-repeat="category in tea.categories">{{category}}</li>
        </ul>
      </p>
    </td>
</tr>
</table>
